
services:
  db:
    image: postgres:15
    container_name: inventario_db
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  web:
    build: .
    container_name: inventario_web
    env_file:
      - .env
    ports:
      - "5000:5000"
    depends_on:
      - db

volumes:
  pgdata:
