/* static/css/style.css */
body { background: #f8f9fa; }
.container { max-width: 1100px; }



.btn-revisado,
.btn-confirmado {
    background-color: red;
    color: white;
    border: none;
}

.btn-revisado.activo {
    background-color: green;
    color: #fff;
}

.btn-confirmado.activo {
    background-color: blue;
    color: #fff;
}
